---
import type { ThemeArchiveProps } from '@/lib/theme-props';
import Layout from './Layout.astro';
import { formatDate } from '@/lib/content';
import { formatTimeAgo } from './shared';

type Props = ThemeArchiveProps;
const props = Astro.props;
const latestTime = props.posts.length > 0 ? props.posts[props.posts.length - 1].created : Math.floor(Date.now() / 1000);
---
<Layout {...props} pageTitle={`${props.archiveTitle} - ${props.options.title}`} searchPosts={props.posts}>
  <p class="center">{props.archiveTitle}</p>
  <table>
    <tbody id="box" class="box">
      {props.posts.map((post) => (
        <tr>
          <td>
            <h2><a href={post.permalink}>{post.title}</a></h2>
            <div>{post.categories.map((category) => <a href={category.permalink}>{category.name}</a>)}</div>
            <p>{formatDate(post.created, 'M d Y', props.options.timezone).toUpperCase()}</p>
          </td>
        </tr>
      ))}
      <tr class="none">
        <td>
          <i class="time">{formatTimeAgo(latestTime)}</i>
          {props.pagination.hasNext && <a class="next pagenext" href={props.pagination.nextUrl!}>下一页</a>}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="loadmore">加载<span id="more"></span>的文章</div>
</Layout>
